<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding an Assignment!</title>
</head>
<body>
    <h1>Add an Assignment!</h1>
    <form action="/" method="post">
        <label for="name">Assignment Name<input type="text" name="name"></label><br>
        <label for="score">Your Score<input type="number" min="0" name="score"></label><br>
        <label for="total">Total Possible Score<input type="number" min="0" name="total"></label><br>
        <label for="completed"><input type="checkbox" name="completed">Have you completed this assignment?</label>
        <input type="submit">
    </form>
</body>
</html>